.divBacklog {
    margin: 1rem;
}

.backlogContent {
    margin: 24px 30px 8px 30px;
}

.assignedTo {
    width: 25%;
}

.category {
    width: 25%;
}

table {
    border-spacing: unset;
}

table td:first-child {
    display: flex;
    text-align: center;
}

table td:nth-child(2) {
    text-align: center;
}

table td:nth-child(3) {
    padding: 8px;
}

tr {
    background: #F4F3FB;
    border-radius: 10px;
    margin: 8px;
}

#table-header {
    background: white;
}

table img {
    border-radius: 100%;
    height: 4vh;
    margin: 20px;
    border-radius: 16px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #587DFC;
    font-weight: bold;
}


/* ------- TR BORDER COLOURS -------*/

.trbc-blue {
    border-left: solid;
    border-width: 10px;
    border-color: #587DFC;
}

.trbc-green {
    border-left: solid;
    border-width: 10px;
    border-color: #54B066;
}

.trbc-purple {
    border-left: solid;
    border-width: 10px;
    border-color: #E468FF;
}