<form id="frmSettings" action="" autocomplete="off">
    <img class="imgCloseX" src="./img/close-48.png" onclick="showSettings(false)" title="close">

    <div class="form-column">
        <h2 class="form-title">Settings</h2>

        <div class="form-control settings">
            <label for="selPriority">PRIORITY</label>
            <div class="select">
                <select id="selPriority" onchange="showColorPicker()"></select>
            </div><input id="inpColorPicker" class="hidden" type="color">
        </div>

        <div class="form-control settings">
            <label for="selCategory" data-list>CATEGORY</label>
            <input list="lstCategory" id="selCategory" placeholder="add / edit category" onchange="changeList(this)" onkeyup="changeList(this)">
            <datalist id="lstCategory"></datalist>
            <button id="btnCategory" class="btnPlus hidden" type="button" onclick="updateList('selCategory', this)">&#x2795</button>
        </div>

        <div class="form-control settings">
            <label for="optColumns" data-list>COLUMNS</label>
            <input list="lstColumns" id="optColumns" placeholder="add / edit colums" onchange="changeList(this)" onkeyup="changeList(this)">
            <datalist id="lstColumns"></datalist>
            <button id="btnColumns" class="btnPlus hidden" type="button" onclick="updateList('optColumns', this)">&#x2795</button>
        </div>

    </div>

    <div class="form-column">
        <div class="form-control">
            <label for="inpNewUser" data-list>ADD NEW USER</label>
            <input id="inpNewUser" type="text">

            <div id="divUsers" class="clerk grab" data-tooltip="click to upload foto">
                <label for="inpUserImage">
                    <input id="inpUserImage" type="file" style="display:none;" accept="image/jpg, image/jpeg, image/png" onchange="uploadFile(event)">
                    <img id="imgUser" src="./img/profile-dummy.png" alt="">
                </label>
            </div>

            <div class="form-buttons">
                <button type="reset" onclick="showSettings(false)">CANCEL</button>
                <button id="btnSubmitSettings" type="button" onclick="saveSettings()">SAVE SETTINGS</button>

                <!-- ACHTUNG ! Button muss zu type"submit" geändert werden -->
                <!-- <button id="btnSubmit" type="submit" onclick="addTask()">CREATE TASK</button> -->
            </div>
        </div>
    </div>
</form>